.header__label{
    background-color: rgb(252, 182, 5);
    color: rgba(255, 255, 255, 0.938);
    padding: 15px 10px 10px 10px;
    margin-right: 10px;
}

.ui.medium.image {
    height: 150px !important;
    width: 150px !important;
    object-fit: cover;
}